html{
    font-family: "Helvetica Neue", sans-serif;
}

input[type=text] {
    width: 300px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.container{
    margin-left: 200px;
    margin-top: 50px;
}

button{
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #4CAF50;
}